body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  /* overflow: hidden; */
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header));
  --tamanho-simulador: calc(100vh - var(--tamanho-header));
  --tamanho-login: calc(100vh - var(--tamanho-header));
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: #e3b062;
}
.container .navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  display: flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: white;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.login {
  height: var(--tamanho-login);
  background-image: url('https://images8.alphacoders.com/126/1261220.jpg');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login span{
  text-align: center;
}

.login a:link{
  color: blue;
}
.login a:active{
  color: blue;
}
.login a:visited{
color: blue;
}
.card {
  width: 30%;
  padding: 0.5%;
  background-color: transparent;
  border: 2px solid blue;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: rgb(239, 45, 45);
  row-gap: 20px;
}

.card-cadastro {
  height: 80%;

}

.card-login {
  height: 60%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #000000;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ff2121;
  width: 120px;
  height: 30px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

.cadastro{
  height: var(--tamanho-login);
  background-image: url('https://4kwallpapers.com/images/wallpapers/spider-man-across-2560x1440-10140.jpg');
  background-size: cover;
}

.cadastro .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cadastro span{
  text-align: center;
}

.cadastro a:link{
  color: blue;
}
.cadastro a:active{
  color: blue;
}

.cadastro a:visited{
  color: blue;
}