.chart{
    /* height: 550 px;
    width: 500 px; */
    margin-left: 42%;
    
}

body p{
    color: whitesmoke;
    font-size: 12px;
    margin-left: 42%;
    
}

body h1{
    color: red;
    margin-left: 15%;
    margin-top: 2%;
}



/* Estilizando canvas */
canvas {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
}

/* Acrescentando título acima dos gráficos */
canvas::before {
    content: attr(id);
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}


.graph{
    background-color: black;
    width: 750px;
    height: 450px;
    margin-left: 22%;
    margin-top: 5%;
}